* {
    box-sizing: border-box;
}

$rojo: red;
$azul: blue;
$verde : lime;

@mixin Squares(){
border: solid black 2px;
height: 70px;
width: 80px;
margin-bottom: 5px;
border-radius: 3px;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: start;

    .box-ox {
        height: 220px;
        width: 80px;
        margin-left: 7px;

        div{
            @include Squares;

        };
    }
}


.boxD4R{
    background-color: darken($rojo, $amount: 20%);
}

.boxD4B{
    background-color: darken($color: $azul, $amount: 20%);
}

.boxD4G{
    background-color: darken($color: $verde, $amount: 20%);
}

.boxD3R{
    background-color: darken($color: $rojo, $amount: 15%);
}

.boxD3B{
    background-color: darken($color: $azul, $amount: 15%);
}

.boxD3G{
    background-color: darken($color: $verde, $amount: 15%);
}

.boxD2R{
    background-color: darken($color: $rojo, $amount: 10%);
}

.boxD2B{
    background-color: darken($color: $azul, $amount: 10%);
}

.boxD2G{
    background-color: darken($color: $verde, $amount: 10%);
}

.boxDR{
    background-color: darken($color: $rojo, $amount: 5%);
}

.boxDB{
    background-color: darken($color: $azul, $amount: 5%);
}

.boxDG{
    background-color: darken($color: $verde, $amount: 5%);
}

.boxR{
    background-color: $rojo;
}

.boxB{
    background-color: $azul;
}

.boxG{
    background-color: $verde;
}

.boxLR{
    background-color: lighten($color: $rojo, $amount: 5%);
}

.boxLB{
    background-color: lighten($color: $azul, $amount: 5%);
}

.boxLG{
    background-color: lighten($color: $verde, $amount: 5%);
}

.boxL2R{
    background-color: lighten($color: $rojo, $amount: 10%)
}

.boxL2B{
    background-color: lighten($color: $azul, $amount: 10%);
}

.boxL2G{
    background-color: lighten($color: $verde, $amount: 10%);
}

.boxL3R{
    background-color: lighten($color: $rojo, $amount: 15%)
}

.boxL3B{
    background-color: lighten($color: $azul, $amount: 15%);
}

.boxL3G{
    background-color: lighten($color: $verde, $amount: 15%);
}

.boxL4R{
    background-color: lighten($color: $rojo, $amount: 20%)
}

.boxL4B{
    background-color: lighten($color: $azul, $amount: 20%);
}

.boxL4G{
    background-color: lighten($color: $verde, $amount: 20%);
}
